.button {
    background: $dark-cyan;
    border: none;
    color: whitesmoke;
    display: inline-block; // so the margin and padding will take effect (default is inline)
    font-weight: bold;
    line-height: 1;
    padding: $m-size;
    font-size: $font-size-large;
    text-decoration: none;
}

.button--link {
    background: none;
    font-weight: 300;
}

.button--remove {
    background: #888888;
}